.header {
  text-align: center;
  height: 300px;
  padding: 12px;
}
.profile {
  height: 200px;
  width:200px;
  border-radius: 50%;

}
.user {
  font-size: 20px;
  margin-top: 9px;
  color: blue;
}

.red {
  list-style: none;
  text-align: center;
  padding: 0;
}

.about {
  max-width:38rem;
  padding-left:1rem;
  padding-right:1rem;
  margin-left:auto;
  margin-right: auto;
  font-family:"Muli","Helvetica",sans-serif;
  text-align: justify;
}


a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #0056b3;
  text-decoration: underline;
}

a:not([href]) {
  color: inherit;
  text-decoration: none;
}

a:not([href]):hover {
  color: inherit;
  text-decoration: none;
}
